.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
src/CMakeCache.txt
src/CMakeFiles/*
src/Makefile
#src/lib_lightgbm.dll
#src/lightgbm.dll
src/lib_lightgbm.dll.a
src/cmake_install.cmake
src/*.o
src/*.dll
